body {
    background-color: #ebeef3;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  #trip-table {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  }
  body {
    background-color: #ebeef3;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  #edit-button{
    justify-Content: "flex-end";
    align-Items: "center";
    height: "20%";
     gap: "5px";
     right: -4;
  }
  #table-header {
    background-color: #c6c6c6; 
   
  }